/* CartPage.css */
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .table th, .table td {
    vertical-align: middle;
  }
  
  .table img {
    max-width: 50px;
  }
  